/*color
blue: #004494
green: #41a62a
*/

body{
	background-color: #ececec;
	font-family: "futura-pt",sans-serif;
	font-style: normal;
	font-weight: 300;
}

header{
	position: relative;
	z-index: 200;
	background: #fff;
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
	/*box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.3);*/
}

a.logo img{
	padding-top: 30px;
}



/*Typografie*/
ul {
	list-style: none;
	padding:0;
}


h1,h2 {
	font-size: 26px;

}

h3 {
	font-size: 22px;
	color:#004494;
}

#news-list h3{
	color: #004494;
}

#news-list h3.news{
	color:#333;
}

a,a:hover  {
	color: #004494;
}



/*SubNav*/

.subnav .navbar-nav > li {
	margin-right: 10px;
}

.subnav .navbar-nav > li > a {
	padding-top: 15px;
	padding-bottom: 15px;
	padding: 0;
	color: #004494;
}

.subnav .navbar-nav > li > a.btn {
	padding: 6px 12px;
	color: #fff;
}

.navbar-collapse {
	padding-left: 0;
}

/*MainNav*/


.navbar{
	margin-bottom: 0;
}

.navbar-collapse {
	padding: 0;
}

a.navbar-brand{
	padding: 0;
}

.mainnav .navbar-nav > li > a {
	/*color: #004494;*/
	color: #333;
	font-size: 16px;
	border: none;
	padding: 15px 25px 15px 25px;
}

.mainnav .nav>li>a:focus,
.mainnav .nav>li>a:hover,
.mainnav .nav .open>a,
.mainnav .nav .open>a:focus,
.mainnav .nav .open>a:hover {
	text-decoration: none;
	background-color: #fff;
	color: #004494;
	z-index: 1001;
	border-top: 2px solid #004494;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 13px 24px 15px 24px
}

.mainnav > nav {
	border: none;
}

.mega .nav,
.mega .collapse,
.mega .dropup,
.mega .dropdown {
  position: static;
}
.mega .container {
  position: relative;
}
.mega .dropdown-menu {
  left: auto;
}
.mega .mega-content {
 /* padding: 20px 30px;*/
}
.mega .dropdown.mega-fw .dropdown-menu
{
  left: 0;
  right: 0;
  padding: 15px;
  border-radius: 0;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.35);
  -ms-box-shadow: 7px 7px 7px #999;
  -webkit-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.35);
  margin-top: -1px;
}

.mega .dropdown.mega-forms .dropdown-menu{
	padding: 15px;
	border-radius: 0;
	box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.35);
	-ms-box-shadow: 7px 7px 7px #999;
	-webkit-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.35);
	margin-top: -1px;	
}

.mainnav li.nav-grid ul>li{
	padding-bottom: 10px;
}

.mainnav li.nav-grid ul>li>a{
	font-weight: 600;
	color: #004494;
}

.mainnav li.nav-grid ul>li>a:hover{
     text-decoration: none;   
}

.mainnav li.nav-grid ul>li>a>p{
	color: #555;
	font-size: 12px;
	font-weight: 300;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}

.mainnav li.nav-grid ul>li:last-child>a>p{
	color: #555;
	font-size: 12px;
	font-weight: 300;
	border-bottom: none;
	padding-bottom: 10px;
}

.mainnav li.nav-grid ul.third {
	margin-top: -15px;
}

.mainnav li.nav-grid ul.third>li {
	border-bottom: 1px solid #ccc;
	padding: 15px 10px;
}

.mainnav li.nav-grid ul.third>li:hover {
	border-bottom: 1px solid #004494;
}

.mainnav li.nav-grid ul.third>li>a {
	font-size: 12px;
    display: block;
}

.mainnav li.nav-grid ul.third>li>a:hover {
    text-decoration: none;
}

.mainnav li.nav-grid ul.third>li:last-child{
	border-bottom: none;
}


/*Carousel*/
.carousel-wrapper.container{
	padding: 0;
}

.carousel {
	z-index: 1;
}

#myCarousel .carousel-indicators {
   bottom: 0;
	left: auto;
	width: auto;
	right: 180px;
	margin-left: 0;

}

#myCarousel .carousel-indicators li {
	z-index: 200;
    border: medium none;
    border-radius: 0;
    float: left;
    height: 44px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 5px !important;
    margin-top: 0;
    width: 120px;
}

#myCarousel .carousel-indicators img {
    border: 2px solid #FFFFFF;
    float: left;
    height: 44px;
    left: 0;
    width: 120px;
}

#myCarousel .carousel-indicators .active img {
    border: 2px solid #0c63c9;
}

#myCarousel .img-responsive {
	height: 100%;
}

.carousel-control {
	width: 10%;
}

.carousel-caption{
	text-align: left;
	width: 495px;
	bottom: 64px;
	left: auto;
	right: 184px;
	text-shadow: none;
	/*text-shadow: 0 2px 2px rgba(0,0,0,.6);*/
	/* text-shadow: -1px 1px 0 rgba(0,0,0,0.2); */
	background: rgba(251, 251, 251, 0.8);
	padding: 10px;
	border-top: 1px solid #ebebeb;
  	border-left: 1px solid #ebebeb;
    z-index: 0;
}

.carousel-caption h3{
	color: #004494;
	font-size: 20px;
}

.carousel-caption p{
	color: #333;
	font-size: 16px;
}

/*Modal Login*/

@media (min-width: 768px){
    .modal-dialog {
      width: 340px;
      margin: 30px auto;
    }
}

.modal-content {
    background: transparent;
    box-shadow: none;
    border: none;
}

.modal-content >.container-fluid {
    padding-left: 5px;
    padding-right: 5px;
}

.modal-body > .tab-content{
    padding: 0;
}



.modal-body, .modal-footer {
    background: white;
   
}

.modal-login .nav-tabs>li>a {
	margin-right: 2px;
	line-height: 1.42857143;
	border: 1px solid transparent;
	border-radius: 2px 2px 0 0;
    background: rgba(251, 251, 251, 0.8);
	color: #333;
	border-bottom: 0;
}

.modal-login .nav-tabs > li.active > a,
.modal-login.nav-tabs > li.active > a:hover,
.modal-login.nav-tabs > li.active > a:focus {
  color: #004494;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  font-weight: 600;
}




/*Panel Buchung*/

#ibeForm .nav-tabs>li.active>a,
#ibeForm .nav-tabs>li.active>a:focus,
#ibeForm .nav-tabs>li.active>a:hover {
	color: #004494;
	cursor: default;
	background-color: #fff;
	border: 1px solid #ddd;
	border-bottom-color: transparent;
	font-size: 18px;
	font-weight: 600;
    top: 1px;
}

#ibeForm .nav-tabs>li>a {
	margin-right: 2px;
	line-height: 1.42857143;
	border: 1px solid transparent;
	/*background: white;*/
	background: rgba(251, 251, 251, 0.6);
	color: #333;
}

#ibeForm {
	position: absolute;
	top: 20px;
}

#ibeForm .tab-content{
	background-color: #fff;
	padding: 15px;
    border: 1px solid #ddd;
}

#ibeForm  form > .row{
	margin-bottom: 15px;
}

/*Form*/
.fuelux .radio-custom.checked:before {
	background: #004494;
	border-color: #004494;
}

#classSelectlist.btn-group.selectlist {
	width: 100%;
	margin-top: 25px;
}

#classSelectlist button.class{
	width: 146px;
	text-align: left;
}

.fuelux .selectlist .btn.dropdown-toggle {
  padding: 6px 18px;
}

.fuelux .selectlist .dropdown-menu {
  	min-width: inherit;
  	width: 100%;
}


/*Modals*/
/*
.modal-backdrop {
	z-index: 0;
}

.modal-backdrop.in {
	opacity: .7;
}

.modal-content {
	border-radius: 2px;
}
*/



/*Scaffholding*/

a:focus {
    color: #004494;   
}

.list-group-item > .badge {
  color: #333;
  background-color: #f5f5f5;
}

.modal-content .btn > i{
	margin-right: 5px;
}


strong{
	color: #004494;
}

.btn, .form-control,
.input-group-addon,
.nav-tabs>li>a,
.nav-tabs.nav-justified > li > a,
.breadcrumb,
.badge
{
	border-radius: 0px;
}

.carousel-caption .btn > i{
	margin-right: 5px;
}

.btn-primary {
	background-color: #41a62a;
	border-color: #358622;
}


.btn-primary.focus,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover
{
	background-color: #358622 !important;
	border-color: #358622 !important;
}

.btn-caption {
	background-color: transparent;
	border-color: #fff;
	color: #fff;
}

.btn-caption.focus, .btn-caption:active, .btn-caption:focus, .btn-caption:hover{
	background-color: #004494;
	border-color: #022a58;
	color: #f9f9f9;
}


.btn-default {
	background-color: #004494;
	border-color: #022a58;
	color: white;
}

.btn-default.focus,
.btn-default:active,
.btn-default:focus,
.btn-default:hover
{
	background-color: #022a58;
	border-color: #022a58;
	color: #f9f9f9;
}

.btn-light{
	background-color: transparent;
	border-color: #ccc;
	color: #333;
}

.btn-load{
	background-color: #f5f5f5;
	border-color: #ccc;
	color: #004494;
}

.content .btn-light:hover{
	color: #004494;
}

.label-default{
	background-color: #333;
	padding: 0.3em .6em .3em;
	font-weight: 300;
	font-size: 80%;
}

/*Scaffholding ENDE*/

#office {
	padding-bottom: 10px;
}

.office h4>i,
.widget a.list-group-item > i,
.panel-body a.list-group-item > i,
.panel-body h4>i
{
	margin-right: 10px;
}

.office a>h4{
	color: #333;
    text-decoration: underline;
}

.widget a.list-group-item,
.panel-body a.list-group-item
{
	margin-bottom: 0px;
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: 1px solid #ccc;
	border-radius: 0;
	padding-left: 0;
}

.widget a.list-group-item:last-child,
.panel-body a.list-group-item:last-child
{
	border-radius: 0;
	border-bottom: 1px solid #fff;
    padding-bottom: 0;
}

.widget a.list-group-item:hover,
.panel-body a.list-group-item:hover
{
	background-color: transparent;
	color:#004494;
	border-color: #004494;
}

.widget a.list-group-item:last-child:hover,
.panel-body a.list-group-item:last-child:hover
{
	border-radius: 0;
	border-bottom: none;
   
}

.side .widget a.list-group-item:last-child:hover{
     padding-bottom: 1px;
}

.footer-content p, address {
	margin-bottom: 5px;
}

.footer-content .list-group.widget {
	border:none;
}

p.top{
	padding-top: 10px;
}


.nav-tabs.nav-justified > li:last-child a{
    margin-right: 0 !important;
}

/*SEARCH BOX*/

#search {
	width: 70px;
	float: right;
}

.navbar-form {
    padding-right: 0;
}

/*Content*/
.content.container{
	margin-top: 20px;

}

.content.container .row{
	margin-bottom: 0;
}


.content.container .row.divider{
	margin-top: 20px;
	margin-bottom: 5px;
}

/*Sidebar*/
.list-group.widget {
	margin-bottom: 0;
}

.widget.office {
	margin-bottom: 10px;
}


/*News list*/
#news-list > [class*="col-md"]{
	/*padding-left: 0;*/
}

.widget, .widget.thumbnail >.caption {
	background: #fff;
	border: 1px solid #ddd;
	padding: 0 15px 15px 15px;
	margin-bottom: 0;
}

.widget.thumbnail {
	padding: 0;
	border:0;
}

.widget.thumbnail h3 {
    font-size: 18px;
}


.news.list-group .list-group-item{
	border: none;
}

.news.list-group > a.list-group-item{
	padding: 0 0 20px 0;
	background:none ;
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
	overflow: hidden;
	border-radius: 0;
}

.news.list-group > a.list-group-item:last-child{
	border:none;
}

.news.list-group > .list-group-item  > img{
	float: left;
	width: 80px;
	height: 80px;
	margin: 0 10px 0 0;
}

a.list-group-item:hover>h4,
#news-list a:hover>h3,
.office a:hover>h4
{
	color: #004494;
	text-decoration: underline;
}

p.list-group-item-text{
	margin-left: 90px;
}

span.date{
	font-size: 12px;
	margin-left: 5px;
	/*color:#a3abaf;*/
}


/*Footer*/

footer.page{
	background: #fff;
	border-top: 10px solid #e5e5e5;
	margin-top: 20px;
/*	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;*/
}

.footer-social {
	text-align: center;
	border-bottom: 1px solid #e3e3e3;
	padding: 35px 0;
	margin-bottom: 30px;
}

.footer-social a{
	padding-left: 28px;
	font-size: 22px;
}

.footer-social a:hover{
	padding-left: 28px;
	font-size: 22px;
	text-decoration: none;
}

.footer-content{
	margin-bottom: 30px;
}

.footer-content li>a{
	padding-left: 10px;
}

.footer-bottom{
	border-top: 1px solid #e3e3e3;
	padding-top: 15px;
	padding-bottom: 15px;
}

p.copyright{
	padding-top: 20px;
}

img.logo-group{
	width: 200px;
}

img.tuev {
	width: 60px;
}


/*Tablet Landscape*/
@media (min-width: 768px) and (max-width: 1024px){
    
    .mainnav .navbar-nav > li > a{
      padding: 15px 21px 15px 21px;      
    }
    
    .mainnav .nav>li>a:focus,
    .mainnav .nav>li>a:hover,
    .mainnav .nav .open>a,
    .mainnav .nav .open>a:focus,
    .mainnav .nav .open>a:hover
    {
        padding: 13px 20px 15px 20px;  
    }
    
    .carousel-caption {
         right: 90px;
     }
    
    .carousel-control {
      width: 5%;
    }
    
    #ibeForm {
        width: 39%;
    }
    
    #ibeForm label {
        font-size: 11px;
    }
    
    #ibeForm .tab-content {
        padding-bottom: 5px;
    }
    
    #classSelectlist button.class {
        width: 108px;
    }
    
    #myCarousel .carousel-indicators{
         right: 85px;   
    }
}


/*Tablet*/
 @media only screen and (max-width : 768px) {
    
     a.logo img{
         padding-top: 10px;
         margin-top: 10px;
     }
     
     #search{
        width: 130px;
    }
     
     .mainnav .nav.navbar-nav.pull-right {
          float: left !important;   
     }
     
     #navbar-main {
         margin-top: 15px;
     }
     
     .subnav {
         margin-top: 10px;
           z-index: 1000;
     }
     
     .mainnav .navbar-nav > li > a{
          padding: 15px 29px 15px 29px;   
     }
     
     .mainnav .nav>li>a:focus,
     .mainnav .nav>li>a:hover,
     .mainnav .nav .open>a,
     .mainnav .nav .open>a:focus,
     .mainnav .nav .open>a:hover{
         padding: 13px 28px 15px 28px;       
     }
     
     #myCarousel > .container {
         padding-left: 5px;
         padding-right: 5px;
     }
     
     #myCarousel > img.tablet-bg{
         position: absolute;
         width: 768px;
         height: 566px;
     }
     #myCarousel {
        width: 100%;
        height: 566px;
        background: url('../img/tablet-bg.jpg') no-repeat;
        margin: 0;
        padding: 0;
     }
         
     #ibeForm {
        position: relative;
        top: 20px;
        margin-bottom: 20px;
        margin-left: 0;
        left: 0;
        padding-left: 0;
        padding-right: 0;
         width: 66.66666667%;
    }
     
     #ibeForm .tab-content {
         border: 1px solid #ddd;
     }
     
     #ibeForm label {
         font-size: 14px;
     }
     
     #ibeForm .nav-tabs>li.active{
         top: -1px;
     }
     
     #classSelectlist button.class {
      width: 166px;
     }
     
   .content [class*='col-'] {
      padding-right: 7px;
      padding-left: 7px;
    }
     
     .widget.thumbnail {
          margin-bottom: 15px;
    }
     
}

/*Phone*/
@media only screen and (max-width : 480px) {

	.subnav button.navbar-toggle {
		display: none;
	}

	.subnav .navbar-collapse.collapse {
		display: block!important;
	}

	.navbar-nav, .subnav .navbar-nav>li {
		float: left !important;
	}
    
    .mainnav ul.nav.navbar-nav.pull-right{
        float: none !important;
        width: 100%;
        margin: 0;
    }

	.subnav .navbar-nav.navbar-right:last-child {
		margin-right: -15px !important;
	}

	.subnav .navbar-right {
		float: right!important;
	}
    
    .subnav ul.nav.navbar-nav.navbar-right {
        float: left !important;
    }
    
    .subnav .navbar-nav > li{
        margin-right: 4px;
    }
    
    .subnav .navbar-form {
        margin-bottom: 0;
        padding-bottom: 0;
        padding-top: 0;
    }
    
    #search{
        width: 100%;
    }

	.mainnav button.navbar-toggle {
		background-color: #333;
        color: white;
        border-radius: 2px;
        margin-right: 0;
        padding:6px 12px;
        position: absolute;
        right: 0;
        top: -58px;
        z-index: 1500;
    }
    

    .col-md-12.mainnav, .navbar {
        min-height: 0;
        padding: 0;
    }
    
    .mainnav li.dropdown.mega-fw {
        margin: 0px;   
    }
    
    .mega .dropdown.mega-fw .dropdown-menu{
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc; 
    }
    
    .mainnav li.nav-grid ul>li {
        padding: 0;
    }
    
    .mainnav li.nav-grid ul>li>a {
        display: block;
        padding: 15px;
        border-top: 1px solid;
    }
    
    .mainnav .nav>li>a:hover {
      border: none;
      color: #333;
    }
    
    .mainnav li.nav-grid ul.third>li {
        padding: 5px 10px;
    }
    
    .mainnav li.nav-grid ul.third>li>a {
         border: none;   
    }
    
    .mainnav li.nav-grid ul>li:last-child>a>p{
        margin:0;
        padding-bottom: 0;
    }
    
    .modal-dialog {
        margin:70px 5px 0 5px;
    }
    
    #login-tab.nav-tabs.nav-justified > li{
         display: table-cell;
    }
    
    .modal-login .nav-tabs>li>a{
        margin-bottom: 0;
    }
    
    #myCarousel {
        width: 100%;
        height: 100%;
        background: none;
    }
       
	#ibeForm {
  		position: relative;
  		margin-bottom: 20px;
  		padding: 0;
        width: auto;
	}

	#ibeForm .nav-tabs.nav-justified > li {
	  display: table-cell;
	  width: 78px;
	}

	#ibeForm .nav-tabs>li>a {
		font-size: 20px;
	}

	#ibeForm .nav-tabs>li.active>a, #ibeForm .nav-tabs>li.active>a:focus,
    #ibeForm .nav-tabs>li.active>a:hover{
		font-size: 20px;
	}

	#ibeForm label {
		display: block;
	}

	#classSelectlist button.class {
  		width: 232px;
	}
	.widget, .widget.thumbnail, .widget.office {
		margin-bottom: 20px;
	}

	.footer-social{
		text-align: left;
	}

	.footer-content .list-group.widget{
		padding: 0;
		padding-bottom: 10px;
	}

	.footer-bottom{
		border-top: 1px solid #e3e3e3;
		padding-top: 20px;
		padding-bottom: 20px;
	}


}



