/*color
blue: #004494
green: #41a62a
*/

body{
	background-color: #ececec;
	font-family: "futura-pt",sans-serif;
	font-style: normal;
	font-weight: 300;
}

header{
	position: relative;
	z-index: 200;
	background: #fff;
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
}

a.logo img{
	padding-top: 30px;
	padding-bottom: 30px;
}



/*Typografie*/
ul {
	list-style: none;
	padding:0;
}

h1{
	font-size: 28px;
}

h2 {
	font-size: 26px;

}

h3 {
	font-size: 22px;
	color:#004494;
}

#news-list h3{
	color: #004494;
}

#news-list h3.news{
	color:#333;
}





/*MainNav*/
.navbar{
	margin-bottom: 0;
}

a.navbar-brand{
	padding: 0;
}



/*Carousel*/
.carousel-wrapper.container{
	padding: 0;
}

.carousel {
	z-index: 1;
}

#myCarousel .carousel-indicators {
   bottom: 0;
	left: auto;
	width: auto;
	right: 110px;
	margin-left: 5px;

}

#myCarousel .carousel-indicators li {
	z-index: 200;
    border: medium none;
    border-radius: 0;
    float: left;
    height: 44px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 5px !important;
    margin-top: 0;
    width: 120px;
}

#myCarousel .carousel-indicators img {
    border: 2px solid #FFFFFF;
    float: left;
    height: 44px;
    left: 0;
    width: 120px;
}

#myCarousel .carousel-indicators .active img {
    border: 2px solid #39b3d7;
}

#myCarousel .img-responsive {
	height: 100%;
}

.carousel-control {
	width: 10%;
}

.carousel-caption{
	text-align: left;
	width: 500px;
	top: 0;
	left: auto;
	right: 10%;
}

/*Panel Buchung*/

#ibeForm .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	color: #004494;
	cursor: default;
	background-color: #fff;
	border: 1px solid #ddd;
	border-bottom-color: transparent;
	font-size: 18px;
	font-weight: 600;
}

#ibeForm .nav-tabs>li>a {
	margin-right: 2px;
	line-height: 1.42857143;
	border: 1px solid transparent;
	border-radius: 4px 4px 0 0;
	/*background: white;*/
	background: rgba(251, 251, 251, 0.6);
	color: #333;
}

#ibeForm {
	position: absolute;
	top: 20px;
}

.tab-content{
	background-color: #fff;
	padding: 15px;
}

#ibeForm  form > .row{
	margin-bottom: 15px;
}

/*Form*/
.fuelux .radio-custom.checked:before {
	background: #004494;
	border-color: #004494;
}

#classSelectlist.btn-group.selectlist {
	width: 100%;
	margin-top: 25px;
}

#classSelectlist button.class{
	width: 147px;
	text-align: left;
}

.fuelux .selectlist .dropdown-menu {
  	min-width: inherit;
  	width: 100%;
}

.fuelux .selectlist .btn.dropdown-toggle{
	padding: 6px 15px;
}



/*Scaffholding*/

.btn > i{
	margin-right: 10px;
}

.btn-primary {
	background-color: #41a62a;
	border-color: #358622;
}


.btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover{
	background-color: #358622;
	border-color: #358622;
}


.btn-default {
	background-color: #004494;
	border-color: #022a58;
	color: white;
}

.btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover{
	background-color: #004494;
	border-color: #022a58;
	color: #f9f9f9;
}

.btn-light{
	background-color: transparent;
	border-color: #ccc;
}

.label-default{
	background-color: #41a62a;
	padding: 0.3em .6em .3em;
	font-weight: 300;
}


/*Content*/
.content.container{
	margin-top: 20px;

}

.content.container .row{
	margin-bottom: 20px;
}

.content.container .row.divider{
	margin-bottom: 5px;
}


/*News list*/
#news-list > [class*="col-md"]{
	/*padding-left: 0;*/
}

.widget, .widget.thumbnail >.caption {
	background: #fff;
	border: 1px solid #ddd;
	padding: 0 15px 15px 15px;
}

.widget.thumbnail {
	padding: 0;
	border:0;
}


.news.list-group .list-group-item{
	border: none;
}

.news.list-group > a.list-group-item{
	padding: 0 0 20px 0;
	background:none ;
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
	overflow: hidden;
	border-radius: 0;
}

.news.list-group > a.list-group-item:last-child{
	border:none;
}

.news.list-group > .list-group-item  > img{
	float: left;
	width: 80px;
	height: 80px;
	margin: 0 10px 0 0;
}

a.list-group-item .list-group-item-heading:hover{
	color: #004494;
}

p.list-group-item-text{
	margin-left: 90px;
}

.news.list-group span.date{
	font-size: 12px;
	margin-left: 5px;
	/*color:#a3abaf;*/
}




/*Footer*/

footer.page{
	background: #fff;
	border-top: 10px solid #e5e5e5;
	margin-top: 20px;
/*	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;*/
}

.footer-social {
	text-align: center;
	border-bottom: 1px solid #e3e3e3;
	padding: 35px 0;
	margin-bottom: 30px;
}

.footer-social a{
	padding-left: 22px
}

.footer-content{
	margin-bottom: 30px;
}

.footer-content li>a{
	padding-left: 10px;
}

.footer-bottom{
	border-top: 1px solid #e3e3e3;
	padding-top: 15px;
	padding-bottom: 15px;
}

p.copyright{
	padding-top: 20px;
}

img.logo-group{
	width: 200px;
}